# Lab 2 - Exploratory Data Analysis

In [1]:
import pandas as pd

## 1. Import Data

In [2]:
df = pd.read_csv('imdb-videogames.csv')

This creates a dataframe using the csv.

## 2. Inspect a Portion of the Dataset

In [3]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [4]:
df.tail(10)

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
20795,20793,Boku wa kyoumo kimi o korosu,https://www.imdb.com/title/tt6010652/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20796,20794,Find Me Event,https://www.imdb.com/title/tt2619050/?ref_=adv...,2011.0,NaN,NaN,NaN,"Days after being kidnapped and tortured, Denni...",False,False,False,False,False,False,False,False,True
20797,20795,Spooks,https://www.imdb.com/title/tt4965776/?ref_=adv...,2017.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20798,20796,Bite Marks,https://www.imdb.com/title/tt2797224/?ref_=adv...,2012.0,NaN,NaN,NaN,A demonologist gets in over his head while mak...,False,False,False,False,False,False,False,False,False
20799,20797,Requiem,https://www.imdb.com/title/tt4396968/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20800,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

This is to get a closer look at portions of the dataframe.

## 3. Shape and Basic Info about the Dataset

In [5]:
df.shape

(20805, 17)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [7]:
df.describe()

         Unnamed: 0          year
count  20805.000000  20538.000000
mean   10400.066667   2005.567485
std     6005.918897     11.846001
min        0.000000   1952.000000
25%     5199.000000   1997.000000
50%    10400.000000   2008.000000
75%    15601.000000   2016.000000
max    20802.000000   2027.000000

This gives us a simple overview of the dataframe.

## 4. Look for Duplicates

In [8]:
df.duplicated().sum()

2

In [14]:
df.drop_duplicates(inplace=True)
df

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20800,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

In [15]:
df.duplicated().sum()

0

There were two duplicates in the dataframe so I dropped them and checked once more to make sure they were gone.

## 5. Fix Types

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [10]:
df.dtypes

Unnamed: 0        int64
name             object
url              object
year            float64
certificate      object
rating           object
votes            object
plot summary     object
Action             bool
Adventure          bool
Comedy             bool
Crime              bool
Family             bool
Fantasy            bool
Mystery            bool
Sci-Fi             bool
Thriller           bool
dtype: object

In [34]:
df[ df.rating=="*9.0"]
df.rating.replace("*9.0", 9.0, inplace=True)
df.rating = pd.to_numeric(df.rating)
df.rating.astype(float)

0        9.2
1        9.7
2        9.5
3        9.6
4        9.5
        ...
20800    0.0
20801    0.0
20802    0.0
20803    0.0
20804    0.0
Name: rating, Length: 20803, dtype: float64

In [33]:
df.name.astype(str)

0                                 Spider-Man
1                     Red Dead Redemption II
2                         Grand Theft Auto V
3                                 God of War
4                 Uncharted 4: A Thief's End
                        ...
20800    Enjoy Your Power, Enjoy Your Choice
20801                             RedSun2020
20802                                Shutter
20803                      The Music Machine
20804                                Cryptic
Name: name, Length: 20803, dtype: object

In [11]:
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

First thing I wanted to do was change all of the ratings to floats. This will allow us to use mean, median, mode, sum, and oher similar commands. Next I wanted to change the names to strings because some of the titles had numbers and i wanted them to be the same.

## 6. Drop and Rename Columns

In [12]:
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

In [23]:
df = df.drop("Unnamed: 0", axis=1)
df

,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20800,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

In [25]:
df.columns = ['name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plotSummary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'SciFi', 'Thriller']
df

,name,url,year,certificate,rating,votes,plotSummary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,SciFi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20800,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

I didn't like having an unnamed column so I got rid of it. I also changed the titles so that they fit the same naming convention. I also removed spaces.

## 7. Fix Nulls

In [26]:
df.info

<bound method DataFrame.info of                                       name  \
0                               Spider-Man
1                   Red Dead Redemption II
2                       Grand Theft Auto V
3                               God of War
4               Uncharted 4: A Thief's End
...                                    ...
20800  Enjoy Your Power, Enjoy Your Choice
20801                           RedSun2020
20802                              Shutter
20803                    The Music Machine
20804                              Cryptic

                                                     url    year certificate  \
0      https://www.imdb.com/title/tt5807780/?ref_=adv...  2018.0           T
1      https://www.imdb.com/title/tt6161168/?ref_=adv...  2018.0           M
2      https://www.imdb.com/title/tt2103188/?ref_=adv...  2013.0           M
3      https://www.imdb.com/title/tt5838588/?ref_=adv...  2018.0           M
4      https://www.imdb.com/title/tt3334704/?ref_=adv...  2016.0           T
...                                                  ...     ...         ...
20800  https://www.imdb.com/title/tt3845606/?ref_=adv...  2014.0         NaN
20801  https://www.imdb.com/title/tt0790739/?ref_=adv...  2004.0         NaN
20802  https://www.imdb.com/title/tt5119948/?ref_=adv...  2015.0         NaN
20803  https://www.imdb.com/title/tt5142082/?ref_=adv...  2015.0         NaN
20804  https://www.imdb.com/title/tt10964974/?ref_=ad...  2020.0         NaN

       rating   votes                                        plotSummary  \
0         9.2  20,759  When a new villain threatens New York City, Pe...
1         9.7  35,703  Amidst the decline of the Wild West at the tur...
2         9.5  59,986  Three very different criminals team up for a s...
3         9.6  26,118  After wiping out the gods of Mount Olympus, Kr...
4         9.5  28,722  Thrown back into the dangerous underworld he'd...
...       ...     ...                                                ...
20800     NaN     NaN                                         Add a Plot
20801     NaN     NaN  Joseph gets kidnapped and it's the player's jo...
20802     NaN     NaN  A tech support man who uses a drone to investi...
20803     NaN     NaN  A young teenage girl and the ghost of a dead m...
20804     NaN     NaN  Kidnapped by an insane man and dragged into a ...

       Action  Adventure  Comedy  Crime  Family  Fantasy  Mystery  SciFi  \
0        True       True   False  False   False     True    False  False
1        True       True   False   True   False    False    False  False
2        True      False   False   True   False    False    False  False
3        True       True   False  False   False    False    False  False
4        True       True   False  False   False    False    False  False
...       ...        ...     ...    ...     ...      ...      ...    ...
20800   False      False   False  False   False    False    False  False
20801   False      False   False  False   False    False    False  False
20802   False      False   False  False   False    False    False  False
20803   False      False   False  False   False    False    False  False
20804   False      False   False  False   False    False    False  False

       Thriller
0         False
1         False
2         False
3         False
4         False
...         ...
20800      True
20801      True
20802      True
20803      True
20804      True

[20803 rows x 16 columns]>

In [72]:
df.rating.fillna(0, inplace=True)

In [38]:
df.certificate.fillna('', inplace=True)

In [39]:
df.votes.fillna(0, inplace=True)

I decided to replace the ratings with a value of NaN with 0 as I still wanted to be able to use specific commands should the need arise. The certificate did not seem as important, so i just left it blank. I replaced the NaN values in votes with 0 as it seemed appropriate.

## 8. Summarize Categorical Columns

In [69]:
df.value_counts(df.rating)

rating
0.0    9203
7.4     493
7.5     470
7.6     452
7.2     450
       ...
2.0       4
1.3       3
1.5       3
1.4       1
1.0       1
Length: 87, dtype: int64

In [70]:
df.value_counts(df.votes)

votes
0        9203
7         318
9         295
8         294
10        287
         ...
1,347       1
1,352       1
1,357       1
1,358       1
3,117       1
Length: 1906, dtype: int64

In [71]:
df.value_counts(df.year)

year
2019.0    956
2018.0    872
2017.0    863
2016.0    828
2015.0    761
         ...
1970.0      2
1969.0      2
1952.0      1
1964.0      1
2027.0      1
Length: 61, dtype: int64

In [49]:
df.value_counts(df.Action)

Action
True     11930
False     8873
dtype: int64

In [50]:
df.value_counts(df.Adventure)

Adventure
False    10469
True     10334
dtype: int64

In [52]:
df.value_counts(df.Comedy)

Comedy
False    19020
True      1783
dtype: int64

In [53]:
df.value_counts(df.Crime)

Crime
False    19908
True       895
dtype: int64

In [54]:
df.value_counts(df.Family)

Family
False    17928
True      2875
dtype: int64

In [55]:
df.value_counts(df.Fantasy)

Fantasy
False    16453
True      4350
dtype: int64

In [56]:
df.value_counts(df.Mystery)

Mystery
False    19618
True      1185
dtype: int64

In [57]:
df.value_counts(df.SciFi)

SciFi
False    17213
True      3590
dtype: int64

In [58]:
df.value_counts(df.Thriller)

Thriller
False    20280
True       523
dtype: int64

I wasn't entirely sure what i was supposed to do with this section, so I figured I would get some info that could be useful. Using value_counts, I counted how many times each value in a column appeared for the following columns: rating, votes, year, Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, SciFi, and Thriller. I thought these columns would be the most useful to use with value_counts.

## 9. Summarize Numeric Columns

In [63]:
df.describe()

               year        rating
count  20536.000000  20803.000000
mean    2005.568611      3.929784
std       11.846028      3.619858
min     1952.000000      0.000000
25%     1997.000000      0.000000
50%     2008.000000      5.500000
75%     2016.000000      7.400000
max     2027.000000      9.700000

Same as the assignment above, I wasn't entirely sure what to do, but the describe command return very usable information from the numerical dataframes such as the mean.